/*Colors
red: #9d0000
gray: #d7dad3
active gray: #b0b3ad
End Colors*/

/************Reset**************/
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, fieldset, legend, label, table, header, footer, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
    color: #7f7f7f;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    color: #ebebeb;
}

.content{
    max-width: 1000px;
    margin: 0 auto;
}

.FlexWrapper {
    display: flex;
    flex-direction: column;
}

.FlexItems {
    align-items: center;
    min-height: 6.25rem;
    /*padding: 1rem;*/
}

.FlexHeader {
    text-align: center;
    order: 1;
}

.FlexContent {
    max-width: 183px;
    order: 2;
}

.FlexSideOne {
    text-align: right;
    margin-right: 0;
    order: 3;
}

.FlexSideTwo {

    order: 4;
}

.FlexFooter {
    order: 5;
}

@media (min-width: 30rem) {
    .FlexWrapper {
        flex-flow: row wrap;
    }
    .FlexHeader {
        width: 100%;
    }
    .FlexContent {
        flex: 1;
        order: 3;
    }
    .FlexSideOne {
        width: 408.5px;
        order: 2;
    }
    .FlexSideTwo {
        width: 408.5px;
        order: 4;
    }
    .FlexFooter {
        width: 100%;
    }
}

table td{
    padding: 10px;
}

.big-words{
    font-size: 53px;
    text-align: right;
}

.big-words2{
    font-size: 53px;
    text-align: left;
}

.center-image{
    max-width: 183px;
    /*max-height: 360px;*/
}